export CD_PROJECT_ID="YOUR_PROJECT_ID"
export CD_ZONE="YOUR_ZONE"
export CD_VM_NAME="YOUR_VM_NAME"
export CD_REMOTE_REPO="YOUR_REMOTE_REPO"
export CD_LOGIN_HOST="user@login.cluster.edu"
export CD_REMOTE_DIR="YOUR_REMOTE_DIR"
export CD_PROFILE_DIR="YOUR_PROFILE_DIR"
